

<p>You have a note from <%= "#{@sender_email}" %><p>

<p>It was written <%= "#{@days}" %> days ago.<p>

<p>To read your message visit <a href="http://notiz.herokuapp.com">notiz<p>

<p><%= "#{@message}" %></p>

<p> <a href="http://notiz.herokuapp.com"> Send your own note  </a> </p>

