

<p>You have a note from <%= "#{@sender_email}" %><p>

<p>It was sent from the past <%= "#{@days}" %> days ago.<p>

<p>You can <%= link_to "read your message here.", notes_url(reply_id: @reply_id) %></p>