

<p>You've have a note from <%= "#{@sender_email}" %><p>

<p>It was written <%= "#{@days}" %> days ago.<p>

<p>Here it is:<p>

<p><%= "#{@message}" %></p>

<p> Send your own note at <a href="http://notiz.herokuapp.com"> Notiz </a> </p>

