

<div class="container">

<% if @notes.present? %>

<table class="table">
	<thead>
	 <h2>sent notes</h2>
	<tr>
		<th>created</th>
		<th>send date</th>
		<th>receipient</th>
		<th>note</th>
	</tr>
	</thead>
	<tbody>
	<% @notes.each do |n| %>
	<tr class="table">
		<td><%= n.created_at.strftime("%b %d, %Y") %></td>
		<td><%= n.send_date.strftime("%b %d, %Y")%></td>
  		<td><%= n.recipient_email %></td>
 		<td ><%= n.body %></td>
	</tr>
	<% end %>
	</tbody>
</table>

<% end %>

</div>