

 
<% if current_user %>
<% else %>
<p><%= link_to "login", new_user_session_path %> or  <%= link_to "signup", new_user_registration_path %> to track the notes you've sent.</p>
<% end %>

<div class="jumbotron">

<h1> dear future,</h1>

<%= render "form", note: @note %>
</div>
