
<body id="home">
<div id="hero">
<div class="container">
<div class="note">



<% if current_user %>
<% else %>
<p class="info" align="center"><%= link_to "Sign up", new_user_registration_path %> for a free account to keep track of the notes you've sent!</p>
<% end %>

<h1> dear future,</h1>
<%= render "form", note: @note %>

</div>
</div>
</div>
