

 
<% if current_user %>
<% else %>
<p>You don't have to<%= link_to "login", new_user_session_path %> to send a note, but if you want to track the notes you've sent you should <%= link_to "sign up", new_user_registration_path %> ! </p>
<% end %>

<div class="jumbotron">

<h1> dear future,</h1>

<%= render "form", note: @note %>
</div>
