

<div class="container box white">

<h2>your note from the past:</h2>
<div class="padding60"></div>
<h3><%= @note.body %></h3>
<p><%= @note.recipient_email %> sent this <%= @note.days %> days ago</p>