
<body id="home">
<div id="hero">
<div class="container">
<div class="note">

<h3>your note from the past:</h3>

	<p><%= @note.body %></p>

<p class="pull-right"> <span class="glyphicon glyphicon-user"> </span> <%= @note.sender_email %> sent this <%= @note.days %> days ago </p>

<br>

<hr>

<h3>send a reply:</h3>
<%= render "form", note: @new_note %>

</div>
</div>
</div>