

<div class="container">

<h2>your note from the past:</h2>

<div class="well">
	<p><%= @note.body %></p>
</div>

<p class="pull-right"> <span class="glyphicon glyphicon-user"> </span> <%= @note.sender_email %> sent this <%= @note.days %> days ago </p>

<br>

<hr>

<h2>send a reply:</h2>
<%= render "form", note: @new_note %>