

<div class="container box">

<h2 class="white">your note from the past :</h2>

<div class="well note-well">

<p class="note-text"><%= @note.body %></p>
</div>
<p class="pull-right white"> <span class="glyphicon glyphicon-user"> </span> <%= @note.sender_email %> sent this <%= @note.days %> days ago </p>


<div class="padding60"></div>
<hr>

<h2 class="white"> dear future,</h2>

<%= render "form" %>