

<div class="container box">

<h2 class="white">your note from the past :</h2>
<div class="padding60"></div>

<div class="well">

<p class="note-text"><%= @note.body %></p>
</div>
<p class="pull-right white"> <span class="glyphicon glyphicon-user"> </span> <%= @note.recipient_email %> sent this <%= @note.days %> days ago </p>


