// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.btn-submit {
	background: #30D16E;
	color: #FFFFFF;
}

.btn-submit:hover {
	background: #26BD60;
	color: #FFFFFf;
}

.alert-green {
	background: #30D16E;
	color: #FFFFFF;
	text-align: center;
}	


#input-days {
	width: 60px;
	height: 30px;
}