// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.white {
	color: #FFFFFF;

	textarea {
      display: inline;
      resize: none;
	}
}

.box {
   max-width: 600px;
   padding-top: 80px
}

.messagebox {
  height: 100px;
}

.btn-submit {
	background: #30D16E;
	color: #FFFFFF;
}

.btn-submit:hover {
	background: #26BD60;
	color: #FFFFFf;
}

.alert-green {
	background: #30D16E;
	color: #FFFFFF;
	text-align: center;
}


#input-email {
	height: 40px;
}

#input-days {
	width: 60px;
	height: 30px;
}

.note-text {
 color: #FFFFFF;
 font-weight: normal;
}

.note-well {
	background-color: #061DC9;
	border: #061DC9;
}