/*// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

body#home {
	background: #4F5664; 
}

h1 {
	font-family: "Learning Curve Pro", "Times New Roman", Times, serif;
	font-size: 100px;
	padding-top: 0px;
	color: #4F5664
}

label {
	margin-top: 8px;
	margin-bottom: 0px;
}

a, p, label, .btn {
	font-family: Avenir;
	font-weight: lighter;	
}

input {
	color: #4f5664;
	margin-bottom: 5px;
}


/*textarea {
	font-family: Avenir;
}*/

table {
	color: #4F5664;
}

.note {
	padding-bottom: 400px;
}

.note form label {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	color: #FFFFFF;
}

.btn {
	border-radius: 0px;
	margin: 20px;
}

.navbar-default {
	margin: 0px;
	border: none;
	background-image: none;
	border: none;
}

.info a {
	color: #4F5664;
	text-decoration: underline;
}

.info {
	margin-top: 20px;
	color: #4F5664;
}

.navbar-default a:hover {
    color: #FFFFFF;
}

.alert-delivered {
	padding: 15px;
	background-color: #ffe797;
	border-color: #ffcc7e;
	color: #4f5664;
	text-align: center;
}



